name: Node.js
on: [push, pull_request]
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - name: Install bslint
        run: npm i -g bslint typescript

      - name: Install dependencies
        run: npm install

      - name: Lint
        run: npm run lint

      - name: Lint types
        run: npm run lint-types

  build:
    name: Build & Test
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
        node: [14.x, 16.x, 18.x, 20.x, 22.x]
        exclude:
          - os: windows-latest
            node: 14.x
          - os: macos-latest
            node: 14.x
          - os: macos-latest
            node: 16.x

    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js ${{matrix.node}}
        uses: actions/setup-node@v4
        with:
          node-version: ${{matrix.node}}

      - name: Install & Build
        run: npm install

      - name: Test
        run: npm test
